/* FRONT-OFFICE */
.DataPing_div{
    margin: auto;
    width: 95%;
    text-align: center;
}

.DataPing_div table{
    border-spacing: 0;
    border:1px solid grey;
    width: 100%;
}

.DataPing_div td{
    border-right:1px ridge #fff;
    padding:5px;
}

.DataPing_div th{
    background-color:lightgrey;
}

.DataPing_div caption{
    background-color:lightgrey;
    border-top:1px solid grey;
    border-right:1px solid grey;
    border-left:1px solid grey;
    margin: 0;
}

.DataPing_div tr{
    border-collapse: collapse;
}

.DataPing_div tr.odd{
    background-color:#fff;
}

.DataPing_div tr.even{
    background-color:#EFEFEF;
}
.DataPing_div th.classement{
    width:80px;
}
.DataPing_div th.equipe{
    width:100%;
}
.DataPing_div th.joues{
    width:80px;
}
.DataPing_div th.points{
    width:80px;
}
.DataPing_div .center{
    text-align:center;
}

.DataPing_div .left{
    text-align:left;
}

.DataPing_div .right{
    text-align:right;
}
.DataPing_div .equipe_club{
    font-weight: bolder;
    color:blue;
}

.DataPing_div .DataPing_rencontres_table{
    margin:20px auto;
    width:100%;
    text-align: center;
}

.DataPing_div .equipes{
    width:40%;
    word-wrap: normal;
}

.DataPing_div .score{
    width:8%;
}

.DataPing_div .center.tiret{
    width:4%;
}

/* Joueurs */
.DataPing_div .listeJoueurs th{
   font-size: 13px;
   text-align: center;
   vertical-align: middle; 
}

.DataPing_div .listeJoueurs td{
    font-size:11px;
}

span.rouge {
    color: red;
}
span.vert {
    color: green;
}
/* table sorter */
th.header {
    background-image: url(tablesorter/img/bg.gif); 
    background: no-repeat center right lightgray;
    cursor: pointer; 
}
th.headerSortDown { 
    background-image: url(tablesorter/img/desc.gif); 
} 

th.headerSortUp { 
    background-image: url(tablesorter/img/asc.gif); 
} 

/* ADMIN */
.DataPing_nonoff{
    font-size: 15px;
}

.DataPing_version{
    font-size: 10px;
    color:grey;
}

.DataPing_right_box{
    float:right;
    padding: 10px;
    margin:77px 20px;
    width:20%;
    background:#fff;
    border:1px solid grey;
    border-radius: 5px;
}

.DataPing_settings_form{
    border:1px solid grey;
    border-radius: 5px;
    background: #fff;
    padding:20px;
    width:70%;
}

.dataping_page_joueurs_DataPing tr.F td{
    color: #faafaa;
}

.dataping_page_joueurs_DataPing tr.M td{
    color: #0063ff;
}
